.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.show-enter {
    opacity: 0;
    transform: scale(1);
  }
  .show-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .show-exit {
    opacity: 1;
  }
  .show-exit-active {
    opacity: 0;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }



  .sideMenu-enter {
    opacity: 0;
    transform: translateX(20%);
  }
  .sideMenu-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .sideMenu-exit {
    opacity: 1;
  }
  .sideMenu-exit-active {
    opacity: 0;
    transform: translateX(20%);
    transition: opacity 300ms, transform 300ms;
  }
  
/* Animation fadeIn */

.fadeIn-enter {
  opacity: 0;
}
.fadeIn-enter-active {
  opacity: 1;
  animation: fadeIn ease 500ms;
  -webkit-animation: fadeIn ease 500ms;
  transition: opacity 300ms;
}
.fadeIn-exit {
  opacity: 1;
}
.fadeIn-exit-active {
  opacity: 0;
  animation: fadeOut ease 500ms;
  -webkit-animation: fadeOut ease 500ms;
  transition: opacity 300ms;
}

/*fadeIn */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* fadeOut */

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-o-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-ms-keyframes fadeOut {
  0% {opacity:0;}
  100% {opacity:1;}
}


/* Animation fadeInUp */

.fadeInUp-enter {
  opacity: 0;
}
.fadeInUp-enter-active {
  opacity: 1;
  animation-duration: 500ms;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
.fadeInUp-exit {
  opacity: 1;
}
.fadeInUp-exit-active {
  opacity: 0;
  animation: fadeOut ease 500ms;
  -webkit-animation: fadeOut ease 500ms;
  transition: opacity 300ms;
}


/* fadeInUp */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,20px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,20px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}



/* fadeOutBottom*/

@keyframes fadeOutBottom {
  from {
      transform: translate3d(0,0px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeOutBottom {
  from {
      transform: translate3d(0,0px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}



/* Animation fade */

.fadeView-enter {
  opacity: 0;
}
.fadeView-enter-active {
  opacity: 1;
transition: opacity 300ms;

}
.fadeView-exit {
  opacity: 1;
  transition: opacity 300ms;
}
.fadeView-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

//animation for client closed the new version  alert

.icon-rocket:before:hover {
	color: red
}

.fixed-container {
	height: 70px;
	padding: 55px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	opacity: .8
}

.fixed-container:hover {
	opacity: 1
}

.whiteText {
	color: #fff
}
.NotifyDot{
padding: 0!important;
margin: -4px 0 0 -2px !important;
  width: 0px;
  height: 0.625rem;
  &::before{
    display: none !important;
    visibility: hidden;
  }
}

.DotAnimation {
	position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}

.pinkBg {
	background-color: #4a95ff!important;
	background-image: -webkit-gradient(linear, left top, right top, from(#0069ff), to(#398bff));
	background-image: -o-linear-gradient(left, #0069ff, #398bff);
	background-image: linear-gradient(90deg, #0069ff, #398bff)
}

.dotIntication {
  display: none;
	height:0.375rem;
	width: 0.375rem;
	position: absolute;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	z-index: 1
}
.dotIntication .ripple {
	position: absolute;
	width: 0.938rem;
	height: 0.938rem;
	z-index: -1;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	margin:-0.5rem 0 0 -0.5rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: ripple 1.8s infinite;
	animation: ripple 1.8s infinite
}

@-webkit-keyframes ripple {
	0% {
		opacity: 1;
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes ripple {
	0% {
		opacity: 1;
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.dotIntication .ripple:nth-child(2) {
	animation-delay: .3s;
	-webkit-animation-delay: .3s
}

.dotIntication .ripple:nth-child(3) {
	animation-delay: .6s;
	-webkit-animation-delay: .6s
}

.greenBg {
	background-color: #32C47C !important;
	background-image: -webkit-gradient(linear, left top, right top, from(#32C47C ), to(#32C47C ));
	background-image: -o-linear-gradient(left, #32C47C , #32C47C );
	background-image: linear-gradient(90deg, #32C47C , #32C47C );
}
.pulse{
  animation: pulse 2s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1.1), translate(-261.637);
  }
  50% {
    transform: scale(.8), translate(-261.637);
  }
  100% {
    transform: scale(1.1), translate(-261.637);
  }
}
.ring{
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
}
@keyframes ring{
  0% {
    -webkit-transform: rotate(
  -15deg
  );
    -ms-transform: rotate(-15deg);
    transform: rotate(
  -15deg
  );
  }

  2% {
    -webkit-transform: rotate(
  15deg
  );
    -ms-transform: rotate(15deg);
    transform: rotate(
  15deg
  );
  }
  4% {
    -webkit-transform: rotate(
  -18deg
  );
    -ms-transform: rotate(-18deg);
    transform: rotate(
  -18deg
  );
  }
  6% {
    -webkit-transform: rotate(
  18deg
  );
    -ms-transform: rotate(18deg);
    transform: rotate(
  18deg
  );
  }
  8% {
    -webkit-transform: rotate(
  -22deg
  );
    -ms-transform: rotate(-22deg);
    transform: rotate(
  -22deg
  );
  }
  10% {
    -webkit-transform: rotate(
  22deg
  );
    -ms-transform: rotate(22deg);
    transform: rotate(
  22deg
  );
  }
  12% {
    -webkit-transform: rotate(
  -18deg
  );
    -ms-transform: rotate(-18deg);
    transform: rotate(
  -18deg
  );
  }
  14% {
    -webkit-transform: rotate(
  18deg
  );
    -ms-transform: rotate(18deg);
    transform: rotate(
  18deg
  );
  }
  16% {
    -webkit-transform: rotate(
  -12deg
  );
    -ms-transform: rotate(-12deg);
    transform: rotate(
  -12deg
  );
  }
  18% {
    -webkit-transform: rotate(
  12deg
  );
    -ms-transform: rotate(12deg);
    transform: rotate(
  12deg
  );
  }
  20% {
    -webkit-transform: rotate(
  0deg
  );
    -ms-transform: rotate(0deg);
    transform: rotate(
  0deg
  );
  }
}
.placeHolderBg{
-webkit-animation: placeHolderShimmer 2s linear 0s infinite forwards;
animation: placeHolderShimmer 2s linear 0s infinite forwards;
background: linear-gradient(to right, #eaeaea 8%, #e3e3e3 18%, #eaeaea 33%);
background-size: 800px 104px;
}
@keyframes placeHolderShimmer{
  0% {
      background-position: -400px 0;
  }
  100% {
      background-position: 400px 0;
  }
}

// Item animation

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

// Toast custom animation

@-webkit-keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0)
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0)
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}

.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 100ms;
}

@-webkit-keyframes fadeOut {
  0% {
      opacity: 1
  }
  to {
      opacity: 0
  }
}
@keyframes fadeOut {
  0% {
      opacity: 1
  }
  to {
      opacity: 0
  }
}
.animate__fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut
}

	
@-webkit-keyframes zoomOut {
  0% {
      opacity: 1
  }
  50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3)
  }
  to {
      opacity: 0
  }
}
@keyframes zoomOut {
  0% {
      opacity: 1
  }
  50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3)
  }
  to {
      opacity: 0
  }
}
.animate__zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut
}

// animation
@keyframes vertical-top { 
	0% {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}

	6% {
		-webkit-transform: translate(0px,-2px);
		-ms-transform: translate(0px,-2px);
		transform: translate(0px,-2px);
	}
	12% {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	18% {
		-webkit-transform: translate(0px,-2px);
		-ms-transform: translate(0px,-2px);
		transform: translate(0px,-2px);
	}
	24% {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	30% {
		-webkit-transform: translate(0px,-2px);
		-ms-transform: translate(0px,-2px);
		transform: translate(0px,-2px);
	}
	36% {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
}

/* HORIZONTAL */

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}
.animateHorizontal:hover{
  -webkit-animation: horizontal 2s ease infinite;
  animation: horizontal 2s ease infinite;
}

.fadeIn-enter-active_ {
  opacity: 1;
  animation: fadeIn ease 300ms;
  -webkit-animation: fadeIn ease 300ms;
}

.fadeIn-exit-active_ {
  opacity: 0;
  animation: fadeOut ease 0ms;
  -webkit-animation: fadeOut ease 0ms;
}