.sso_login_wrapper{
    margin-bottom: 18px;
    .line_divider{
        margin: 16px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font: normal normal 14px/17px var(--regular);
            letter-spacing: 0px;
            color: #7E8299;
            margin: 0 9px;
        }
     &::after, &::before{
        display: inline-block;
        content: '';
        width: 100px;
        height: 1px;
        background-color: #E1E1E1;
     }
    }
    .button_wraper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: -6px -8px;
        .btn_sso{
            padding: 0;
            background: #FFFFFF;
            border: 1px solid #C9C9C9;
            border-radius: 4px;
            margin:6px 6px 6px 6px !important;
            min-width: 157px;
            transition: 300ms linear;
            flex: 1;
            .btn_sso_ripple{
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 14px;
            }
            i,svg{
                width: 24px;
                height: 24px;
            }
            span{
                font: normal normal 18px/100% var(--medium);
                letter-spacing: 0px;
                color: #7E8299;
                margin-left: 12px;
                text-align: left;
                min-width: 70px;
                transition: 150ms ease-in-out;
            }
            &:hover{
                border: 1px solid #1162FB;
                transition: 150ms linear;
                box-shadow: 0rem 0.3125rem 2.625rem #0000001f;
                span{
                    color:#171717;
                    transition: 150ms ease-in-out;
                }
            }
        }
    }
}