.Broadcastchat_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .conversation-header {
        display: none !important;
    }

    .mirrorfly-root .container .chat-conversion .chatconversation-container .msg-content .receiver-row .receiver{
        box-shadow: none;
    }
}