.badgeWrapper {
    padding: 0.5rem 0 0 0;
    width: 100%;

    .badgeList {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-height: 12rem;
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 1.55rem;

        .badgelist_item {
            background-color: transparent;
            padding-left: 8px;
            padding-bottom: 10px;
        }

        .badge {
            text-transform: lowercase;
            max-width: 100%;
            position: relative;
            background: #E6F1FF;
            border-radius: 1rem;
            padding: 8px 12px;
            min-height: 30px;
            height: auto;
            line-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            word-break: break-word;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 0.25rem;
            }

            span {
                display: inline-block;
                font: normal normal 16px/100% var(--ProximaNovaSemibold);
                user-select: none;
                letter-spacing: 0px;
                color: #000000;
            }

            .btn_close {
                background: transparent;
                width: 16px;
                height: 16px;
                color: #ACACAE;
                transition: 150ms ease-in-out;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                padding: 1px;

                &:hover,
                &:focus-visible {
                    color: var(--negative);
                    transition: 150ms ease-in-out;
                }
            }

            svg {
                width: 10px;
                height: 10px;
                cursor: pointer;
            }

            &.readOnly {
                cursor: default;
                background: #efefef;
                border: 0.0313rem solid #efefef;
            }
        }

        .supportHint {
            font-size: var(--commonFsizeLg);
        }
    }
}

.input-badge {
    .input {
        border: 1px solid #C9C9C9;
        border-radius: 4px;
        position: relative;

        &.active {
            border-color: #1367F2;
        }

        input {
            padding-right: 100px;
        }
    }

    .input_plus_action {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        min-width: 64px;
        height: 30px;

        @media screen and (max-width: 1599px) {
            right: 6px;
        }

        color: #ACACAE;
        border: 1px solid #ACACAE;
        border-radius: 3px;
        background-color: #fff;

        span {
            font: normal normal 14px/14px var(--regular);
            letter-spacing: 0px;
            margin-top: 2px;
        }

        svg {
            width: 10px;
            height: 10px;
            margin-right: 5px;
        }

        &.active {
            color: #fff;
            border: 1px solid #1367F2;
            background-color: #1367F2;

            &:hover,
            &:focus-visible {
                border-color: #0851c7;
                background-color: #0851c7;
            }
        }
    }
}

.invite_new_cohost {
    width: 100%;
    max-width: 585px;
    overflow: hidden;
    font: normal normal 16px/20px var(--regular);

    strong {
        display: inline-block;
        font: inherit;
        font-style: italic;
        letter-spacing: 0px;
        color: #2D4047;
        white-space: break-spaces;
    }

    span {
        font-style: normal;
        margin-left: 8px;
        display: inline-block;
    }

    .action_btn {
        background: transparent;
        letter-spacing: 0px;
        font: inherit;
        color: #1367F2;
        font-family: var(--semibold);
        transition: 150ms ease-in-out;
        margin-left: 4px;
        display: inline-block;
        font-style: normal;
        padding: 0 4px;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
        }
    }

    .email_notfound_title {
        color: #818181;
        margin: 6px 0 15px 0;
        font: normal normal 14px/17px var(--regular);
    }

    ul {
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;

        li {
            margin-bottom: 10px;
            width: 100%;

            .check_box {
                width: 100%;

                .checkbox_action {
                    max-width: calc(100% - 30px);

                    span {
                        width: calc(100% - 10px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .cohost_email {
                margin-left: 8px;
                color: #2D4047;
                font: normal normal 16px/20px var(--regular);
            }

            .invited_status {
                color: #1EAC8F;
                margin-left: 5px;
                font: normal normal 14px/26px var(--semibold);
            }

            button {
                &.email_edit {
                    color: #ACACAE;

                    &:hover,
                    &:focus-visible {
                        color: #FF0935;
                    }
                }
            }
        }
    }

    .invite_actions {
        margin: 15px 0 0px 0px;

        .action_btn {
            color: #1367F2;
            font: normal normal 16px/20px var(--semibold);
            margin-left: 0;
            margin-right: 24px;
            padding: 0;

        }
    }

}

.create_live_streaming {
    fieldset {
        display: inline-block;
        max-width: 100%;
        width: 100%;
    }
}

.email_list_popup {
    position: absolute;
    transition: 0.5s ease-in;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    max-width: 100%;
    width: calc(100% + 2px);
    background-color: #fff;
    z-index: 2;
    min-height: 40px;
    max-height: 240px;
    overflow: auto;
    top: calc(100% + 6px);
    ul {
        overflow-y: auto;
        max-height: 206px;

        button {
            width: 100%;
            text-align: left;
            padding: 10px;
            background-color: transparent;
            font: normal normal 16px/20px var(--regular);

            &:hover, &:focus-visible {
                color: #1eac8f;
            }
        }
    }
}

.check_box {
    display: flex;
    align-items: center;
    min-height: 20px;

    button {
        background-color: transparent;
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 0;

        &:hover {
            color: #1eac8f;

            span {
                color: inherit;
            }
        }
    }

    >label {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: inherit;
    }

    .checkbox-custom {
        margin-right: 2px;
    }

    .email_edit {
        margin-left: 8px;
    }
}

.acc_info_wraper_li {
    width: 100%;
    flex: 1 1 100%;
    max-width: 100%;
    min-width: 200px;
    padding: 0px;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;

    @media(max-width:767px) {
        width: 100%;
    }

    .acc_info_list {
        background: #FFF1DC;
        border: 1px solid #F49200;
        border-radius: 41px;
        padding: 9px 10px 9px 10px;
        display: flex;
        align-items: center;
        width: 432px;

        .acc_icon {
            position: relative;
            margin-right: 20px;
            width: 34px;
            height: 34px;
            min-width: 34px;
            min-height: 34px;
            flex-grow: 0;
            flex-shrink: 0;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &:hover,
    &.active,
    &:focus-visible {

        .acc_info_list {
            background: #fbe6c6;
            border: 1px solid #F49200;
            transition: 150ms ease-in-out;
        }
    }

    .acc_info {
        flex-shrink: 1;
        flex-grow: 0;
        white-space: nowrap;
        width: calc(100% - 154px);

        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            font: normal normal 16px/18px var(--semibold);
            letter-spacing: 0px;
            color: #818181;
            margin-bottom: 4px;
            width: 100%;
        }

        h5 {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            font: normal normal 16px/18px var(--medium);
            letter-spacing: 0px;
            color: #7E8299;
            width: 100%;
        }
    }
    .userinfo_img {
        position: absolute;
        padding: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        cursor: pointer;
        background-color: #c7c7c7;
    }
}