.screen_share_content{
    .medium{
        font: normal normal 16px/28px var(--medium);
        letter-spacing: 0px;
        color: #000000;
    }
    p{
        font: normal normal 16px/28px var(--medium);
        letter-spacing: 0px;
        color: #595959;
        width: 360px;
    }
}